/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 100px 0;
  color: var(--color-text-primary);
  font-family: var(--main-font, sans-serif);
  font-size: var(--font-size-main);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-main);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: var(--block-width);
  margin-bottom: 98px;
  padding-block: clamp(122px, 10vw, 130px);
  outline: var(--border-primary);
  font-family: var(--accent-font, Courier, monospace);
  line-height: var(--header-text-line-height);
  background-color: var(--bg-primary);
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-heaiding {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  line-height: var(--main-text-line-height);
}

.card {
  width: var(--block-width);
  border: var(--border-primary);
  background-color: var(--bg-primary);
}

.card-title {
  padding: 4px 10px;
  font-size: var(--font-size-main);
  line-height: var(--heading-text-line-height);
  font-variation-settings: "wght" var(--font-weight-heading);
}

.card-image-container {
  position: relative;
}

.image-wrapper {
  border-top: var(--border-primary);
  border-bottom: var(--border-primary);
}

.card-image {
  display: block;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.image-filter-vintage {
  filter: sepia(0.8) contrast(0.6);
}

.image-filter-warm {
  filter: sepia(0.2) saturate(1.2);
}

.image-filter-grayscale {
  filter: grayscale(0.9);
}

.image-filter-bright {
  filter: brightness(1.5);
}

.image-filter-cold {
  filter: hue-rotate(20deg) saturate(0.6);
}

.image-filter-dark {
  filter: brightness(0.6);
}

.image-filter-contrast {
  filter: contrast(1.4);
}

.image-filter-dreamy {
  filter: blur(1px) brightness(1.1) saturate(1.3);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--accent-font, Courier, monospace);
  font-size: var(--font-size-accent);
  line-height: var(--label-text-line-height);
  text-shadow:
    -1px 0 var(--border-text),
    0 1px var(--border-text),
    1px 0 var(--border-text),
    0 -1px var(--border-text);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--border-text)) or
    (-webkit-text-stroke: 1px var(--border-text))) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--border-text);
    text-stroke: 1px var(--border-text);
  }
}

.card-content {
  padding: 25px;
}

.card-text {
  margin-bottom: 25px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  gap: 4px;
}

.card__icon-button {
  max-height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-text-primary);
}

.button {
  position: relative;
  border: var(--border-primary);
  overflow: hidden;
  background-color: var(--bg-button);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-text-primary);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-text-primary);
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.button:hover::before {
  transform: translateX(100%);
}

.card__like-button,
.dialog-button {
  min-height: 38px;
}

.card__like-button {
  min-width: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--color-text-secondary);
  font-family: var(--accent-font, Courier, monospace);
  font-size: var(--font-size-accent);
  line-height: var(--button-text-line-height);
  mix-blend-mode: difference;
}

.memory-button {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: center;
  min-height: 55px;
  padding: 0 18px;
}

.icon-memory {
  height: 21px;
}

.memory-button .icon-memory {
  fill: var(--color-text-secondary);
  mix-blend-mode: difference;
}

.save-dialog {
  border: none;
  outline: var(--border-primary);
  inline-size: clamp(341px, 90vw, 353px);
}

.save-dialog[open] {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 30px;
  column-gap: 20px;
  padding: 30px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-dialog .icon-memory {
  align-self: center;
  height: 39px;
}

.dialog-text {
  font-family: var(--accent-font, Courier, monospace);
  font-size: var(--font-size-accent);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  grid-column: 1 / -1;
}

@media (width <= 375px) {
  .header {
    margin-bottom: 100px;
    outline-offset: -2px;
  }

  .memory-button {
    flex-direction: column;
    justify-content: center;
    min-height: 84px;
  }

  .icon-memory {
    height: 28px;
  }

  .save-dialog {
    margin-inline: auto;
    max-inline-size: 100vw;
  }

  .save-dialog[open] {
  padding: 30px 40px;
  }
}