/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "Press Start 2P";
  --font-weight-main: 410;
  --font-weight-heading: 715;
  --background-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-primary: #fff;
  --border-primary: 2px solid #000;
  --border-text: #fff;
  --color-text-primary: #000;
  --color-text-secondary: #fff;
  --bg-button: #fff;
  --block-width: clamp(375px, 90vw, 700px);
  --font-size-main: 18px;
  --font-size-accent: 14px;
  --header-text-line-height: 1;
  --button-text-line-height: 14px;
  --heading-text-line-height: 22px;
  --main-text-line-height: 21px;
  --label-text-line-height: 14px;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --animation-hover-color: #000;
}

@media (width <= 375px) {
  :root {
    --block-width: 100%;
  }
}